WarriorsAdventureClient/src/conf/xml-resources/web-service-references/CombatCommonEJB/wsdl/localhost_8080/CombatCommonEJBService/CombatCommonEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EJB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EJB/" name="CombatCommonEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://EJB/" schemaLocation="http://localhost:8080/CombatCommonEJBService/CombatCommonEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="inizialization_combat">
<part name="parameters" element="tns:inizialization_combat"/>
</message>
<message name="inizialization_combatResponse">
<part name="parameters" element="tns:inizialization_combatResponse"/>
</message>
<message name="removeCombat">
<part name="parameters" element="tns:removeCombat"/>
</message>
<message name="removeCombatResponse">
<part name="parameters" element="tns:removeCombatResponse"/>
</message>
<message name="attack">
<part name="parameters" element="tns:attack"/>
</message>
<message name="attackResponse">
<part name="parameters" element="tns:attackResponse"/>
</message>
<message name="returnFight">
<part name="parameters" element="tns:returnFight"/>
</message>
<message name="returnFightResponse">
<part name="parameters" element="tns:returnFightResponse"/>
</message>
<portType name="CombatCommonEJB">
<operation name="inizialization_combat">
<input wsam:Action="http://EJB/CombatCommonEJB/inizialization_combatRequest" message="tns:inizialization_combat"/>
<output wsam:Action="http://EJB/CombatCommonEJB/inizialization_combatResponse" message="tns:inizialization_combatResponse"/>
</operation>
<operation name="removeCombat">
<input wsam:Action="http://EJB/CombatCommonEJB/removeCombatRequest" message="tns:removeCombat"/>
<output wsam:Action="http://EJB/CombatCommonEJB/removeCombatResponse" message="tns:removeCombatResponse"/>
</operation>
<operation name="attack">
<input wsam:Action="http://EJB/CombatCommonEJB/attackRequest" message="tns:attack"/>
<output wsam:Action="http://EJB/CombatCommonEJB/attackResponse" message="tns:attackResponse"/>
</operation>
<operation name="returnFight">
<input wsam:Action="http://EJB/CombatCommonEJB/returnFightRequest" message="tns:returnFight"/>
<output wsam:Action="http://EJB/CombatCommonEJB/returnFightResponse" message="tns:returnFightResponse"/>
</operation>
</portType>
<binding name="CombatCommonEJBPortBinding" type="tns:CombatCommonEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inizialization_combat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCombat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="attack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnFight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CombatCommonEJBService">
<port name="CombatCommonEJBPort" binding="tns:CombatCommonEJBPortBinding">
<soap:address location="http://localhost:8080/CombatCommonEJBService/CombatCommonEJB"/>
</port>
</service>
</definitions>