WarriorsAdventureClient/web/WEB-INF/wsdl/localhost_8080/CharacterEJBService/CharacterEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://EJB/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://EJB/">

<xs:element name="addExp" type="tns:addExp"/>

<xs:element name="addExpResponse" type="tns:addExpResponse"/>

<xs:element name="addGold" type="tns:addGold"/>

<xs:element name="addGoldResponse" type="tns:addGoldResponse"/>

<xs:element name="createCharacter" type="tns:createCharacter"/>

<xs:element name="createCharacterResponse" type="tns:createCharacterResponse"/>

<xs:element name="giocatore" type="tns:giocatore"/>

<xs:element name="listCharacter" type="tns:listCharacter"/>

<xs:element name="listCharacterResponse" type="tns:listCharacterResponse"/>

<xs:element name="personaggio" type="tns:personaggio"/>

<xs:element name="subGold" type="tns:subGold"/>

<xs:element name="subGoldResponse" type="tns:subGoldResponse"/>

<xs:complexType name="addExp">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personaggio">
<xs:sequence>
<xs:element name="classe" type="xs:string" minOccurs="0"/>
<xs:element name="defense" type="xs:int"/>
<xs:element name="exp" type="xs:int"/>
<xs:element name="gold" type="xs:int"/>
<xs:element name="guild" type="xs:string" minOccurs="0"/>
<xs:element name="level" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="strenght" type="xs:int"/>
<xs:element name="vitality" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addExpResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="subGold">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subGoldResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createCharacter">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="tns:giocatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="giocatore">
<xs:sequence>
<xs:element name="ban" type="xs:boolean"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCharacterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listCharacter">
<xs:sequence>
<xs:element name="arg0" type="tns:giocatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCharacterResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGold">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGoldResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>