WarriorsAdventureClient/web/WEB-INF/wsdl/localhost_8080/NotifyPlayerEJBService/NotifyPlayerEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EJB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EJB/" name="NotifyPlayerEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://EJB/" schemaLocation="http://localhost:8080/NotifyPlayerEJBService/NotifyPlayerEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="addNotify">
<part name="parameters" element="tns:addNotify"/>
</message>
<message name="addNotifyResponse">
<part name="parameters" element="tns:addNotifyResponse"/>
</message>
<message name="removeNotify">
<part name="parameters" element="tns:removeNotify"/>
</message>
<message name="removeNotifyResponse">
<part name="parameters" element="tns:removeNotifyResponse"/>
</message>
<message name="returnMap">
<part name="parameters" element="tns:returnMap"/>
</message>
<message name="returnMapResponse">
<part name="parameters" element="tns:returnMapResponse"/>
</message>
<message name="inizialization">
<part name="parameters" element="tns:inizialization"/>
</message>
<message name="inizializationResponse">
<part name="parameters" element="tns:inizializationResponse"/>
</message>
<portType name="NotifyPlayerEJB">
<operation name="addNotify">
<input wsam:Action="http://EJB/NotifyPlayerEJB/addNotifyRequest" message="tns:addNotify"/>
<output wsam:Action="http://EJB/NotifyPlayerEJB/addNotifyResponse" message="tns:addNotifyResponse"/>
</operation>
<operation name="removeNotify">
<input wsam:Action="http://EJB/NotifyPlayerEJB/removeNotifyRequest" message="tns:removeNotify"/>
<output wsam:Action="http://EJB/NotifyPlayerEJB/removeNotifyResponse" message="tns:removeNotifyResponse"/>
</operation>
<operation name="returnMap">
<input wsam:Action="http://EJB/NotifyPlayerEJB/returnMapRequest" message="tns:returnMap"/>
<output wsam:Action="http://EJB/NotifyPlayerEJB/returnMapResponse" message="tns:returnMapResponse"/>
</operation>
<operation name="inizialization">
<input wsam:Action="http://EJB/NotifyPlayerEJB/inizializationRequest" message="tns:inizialization"/>
<output wsam:Action="http://EJB/NotifyPlayerEJB/inizializationResponse" message="tns:inizializationResponse"/>
</operation>
</portType>
<binding name="NotifyPlayerEJBPortBinding" type="tns:NotifyPlayerEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNotify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeNotify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inizialization">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NotifyPlayerEJBService">
<port name="NotifyPlayerEJBPort" binding="tns:NotifyPlayerEJBPortBinding">
<soap:address location="http://localhost:8080/NotifyPlayerEJBService/NotifyPlayerEJB"/>
</port>
</service>
</definitions>