WarriorsAdventureClient/web/WEB-INF/wsdl/localhost_8080/AmministratoreEJBService/AmministratoreEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EJB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EJB/" name="AmministratoreEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://EJB/" schemaLocation="http://localhost:8080/AmministratoreEJBService/AmministratoreEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="insertAmministratore">
<part name="parameters" element="tns:insertAmministratore"/>
</message>
<message name="insertAmministratoreResponse">
<part name="parameters" element="tns:insertAmministratoreResponse"/>
</message>
<message name="updateAmministratore">
<part name="parameters" element="tns:updateAmministratore"/>
</message>
<message name="updateAmministratoreResponse">
<part name="parameters" element="tns:updateAmministratoreResponse"/>
</message>
<message name="removeAmministratore">
<part name="parameters" element="tns:removeAmministratore"/>
</message>
<message name="removeAmministratoreResponse">
<part name="parameters" element="tns:removeAmministratoreResponse"/>
</message>
<message name="logginAmministratore">
<part name="parameters" element="tns:logginAmministratore"/>
</message>
<message name="logginAmministratoreResponse">
<part name="parameters" element="tns:logginAmministratoreResponse"/>
</message>
<message name="BannedPlayers">
<part name="parameters" element="tns:BannedPlayers"/>
</message>
<message name="BannedPlayersResponse">
<part name="parameters" element="tns:BannedPlayersResponse"/>
</message>
<message name="unbanPlayer">
<part name="parameters" element="tns:unbanPlayer"/>
</message>
<message name="unbanPlayerResponse">
<part name="parameters" element="tns:unbanPlayerResponse"/>
</message>
<message name="allPlayers">
<part name="parameters" element="tns:allPlayers"/>
</message>
<message name="allPlayersResponse">
<part name="parameters" element="tns:allPlayersResponse"/>
</message>
<message name="banPlayer">
<part name="parameters" element="tns:banPlayer"/>
</message>
<message name="banPlayerResponse">
<part name="parameters" element="tns:banPlayerResponse"/>
</message>
<portType name="AmministratoreEJB">
<operation name="insertAmministratore">
<input wsam:Action="http://EJB/AmministratoreEJB/insertAmministratoreRequest" message="tns:insertAmministratore"/>
<output wsam:Action="http://EJB/AmministratoreEJB/insertAmministratoreResponse" message="tns:insertAmministratoreResponse"/>
</operation>
<operation name="updateAmministratore">
<input wsam:Action="http://EJB/AmministratoreEJB/updateAmministratoreRequest" message="tns:updateAmministratore"/>
<output wsam:Action="http://EJB/AmministratoreEJB/updateAmministratoreResponse" message="tns:updateAmministratoreResponse"/>
</operation>
<operation name="removeAmministratore">
<input wsam:Action="http://EJB/AmministratoreEJB/removeAmministratoreRequest" message="tns:removeAmministratore"/>
<output wsam:Action="http://EJB/AmministratoreEJB/removeAmministratoreResponse" message="tns:removeAmministratoreResponse"/>
</operation>
<operation name="logginAmministratore">
<input wsam:Action="http://EJB/AmministratoreEJB/logginAmministratoreRequest" message="tns:logginAmministratore"/>
<output wsam:Action="http://EJB/AmministratoreEJB/logginAmministratoreResponse" message="tns:logginAmministratoreResponse"/>
</operation>
<operation name="BannedPlayers">
<input wsam:Action="http://EJB/AmministratoreEJB/BannedPlayersRequest" message="tns:BannedPlayers"/>
<output wsam:Action="http://EJB/AmministratoreEJB/BannedPlayersResponse" message="tns:BannedPlayersResponse"/>
</operation>
<operation name="unbanPlayer">
<input wsam:Action="http://EJB/AmministratoreEJB/unbanPlayerRequest" message="tns:unbanPlayer"/>
<output wsam:Action="http://EJB/AmministratoreEJB/unbanPlayerResponse" message="tns:unbanPlayerResponse"/>
</operation>
<operation name="allPlayers">
<input wsam:Action="http://EJB/AmministratoreEJB/allPlayersRequest" message="tns:allPlayers"/>
<output wsam:Action="http://EJB/AmministratoreEJB/allPlayersResponse" message="tns:allPlayersResponse"/>
</operation>
<operation name="banPlayer">
<input wsam:Action="http://EJB/AmministratoreEJB/banPlayerRequest" message="tns:banPlayer"/>
<output wsam:Action="http://EJB/AmministratoreEJB/banPlayerResponse" message="tns:banPlayerResponse"/>
</operation>
</portType>
<binding name="AmministratoreEJBPortBinding" type="tns:AmministratoreEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertAmministratore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAmministratore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAmministratore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logginAmministratore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BannedPlayers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unbanPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allPlayers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="banPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AmministratoreEJBService">
<port name="AmministratoreEJBPort" binding="tns:AmministratoreEJBPortBinding">
<soap:address location="http://localhost:8080/AmministratoreEJBService/AmministratoreEJB"/>
</port>
</service>
</definitions>