WarriorsAdventureClient/web/WEB-INF/wsdl/localhost_8080/PlayerEJBService/PlayerEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EJB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EJB/" name="PlayerEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://EJB/" schemaLocation="http://localhost:8080/PlayerEJBService/PlayerEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="registration">
<part name="parameters" element="tns:registration"/>
</message>
<message name="registrationResponse">
<part name="parameters" element="tns:registrationResponse"/>
</message>
<message name="findPlayer">
<part name="parameters" element="tns:findPlayer"/>
</message>
<message name="findPlayerResponse">
<part name="parameters" element="tns:findPlayerResponse"/>
</message>
<message name="removePlayer">
<part name="parameters" element="tns:removePlayer"/>
</message>
<message name="removePlayerResponse">
<part name="parameters" element="tns:removePlayerResponse"/>
</message>
<message name="insertPlayer">
<part name="parameters" element="tns:insertPlayer"/>
</message>
<message name="insertPlayerResponse">
<part name="parameters" element="tns:insertPlayerResponse"/>
</message>
<message name="findRegisteredPlayer">
<part name="parameters" element="tns:findRegisteredPlayer"/>
</message>
<message name="findRegisteredPlayerResponse">
<part name="parameters" element="tns:findRegisteredPlayerResponse"/>
</message>
<message name="updatePlayer">
<part name="parameters" element="tns:updatePlayer"/>
</message>
<message name="updatePlayerResponse">
<part name="parameters" element="tns:updatePlayerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="PlayerEJB">
<operation name="registration">
<input wsam:Action="http://EJB/PlayerEJB/registrationRequest" message="tns:registration"/>
<output wsam:Action="http://EJB/PlayerEJB/registrationResponse" message="tns:registrationResponse"/>
</operation>
<operation name="findPlayer">
<input wsam:Action="http://EJB/PlayerEJB/findPlayerRequest" message="tns:findPlayer"/>
<output wsam:Action="http://EJB/PlayerEJB/findPlayerResponse" message="tns:findPlayerResponse"/>
</operation>
<operation name="removePlayer">
<input wsam:Action="http://EJB/PlayerEJB/removePlayerRequest" message="tns:removePlayer"/>
<output wsam:Action="http://EJB/PlayerEJB/removePlayerResponse" message="tns:removePlayerResponse"/>
</operation>
<operation name="insertPlayer">
<input wsam:Action="http://EJB/PlayerEJB/insertPlayerRequest" message="tns:insertPlayer"/>
<output wsam:Action="http://EJB/PlayerEJB/insertPlayerResponse" message="tns:insertPlayerResponse"/>
</operation>
<operation name="findRegisteredPlayer">
<input wsam:Action="http://EJB/PlayerEJB/findRegisteredPlayerRequest" message="tns:findRegisteredPlayer"/>
<output wsam:Action="http://EJB/PlayerEJB/findRegisteredPlayerResponse" message="tns:findRegisteredPlayerResponse"/>
</operation>
<operation name="updatePlayer">
<input wsam:Action="http://EJB/PlayerEJB/updatePlayerRequest" message="tns:updatePlayer"/>
<output wsam:Action="http://EJB/PlayerEJB/updatePlayerResponse" message="tns:updatePlayerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://EJB/PlayerEJB/loginRequest" message="tns:login"/>
<output wsam:Action="http://EJB/PlayerEJB/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="PlayerEJBPortBinding" type="tns:PlayerEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRegisteredPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PlayerEJBService">
<port name="PlayerEJBPort" binding="tns:PlayerEJBPortBinding">
<soap:address location="http://localhost:8080/PlayerEJBService/PlayerEJB"/>
</port>
</service>
</definitions>