WarriorsAdventureClient/src/conf/xml-resources/web-service-references/ArmaturaEJB/wsdl/localhost_8080/ArmaturaEJBService/ArmaturaEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://EJB/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://EJB/">

<xs:element name="armatura" type="tns:armatura"/>

<xs:element name="deleteArmor" type="tns:deleteArmor"/>

<xs:element name="deleteArmorResponse" type="tns:deleteArmorResponse"/>

<xs:element name="findArmor" type="tns:findArmor"/>

<xs:element name="findArmorResponse" type="tns:findArmorResponse"/>

<xs:element name="findArmor_byid" type="tns:findArmor_byid"/>

<xs:element name="findArmor_byidResponse" type="tns:findArmor_byidResponse"/>

<xs:element name="insertArmor" type="tns:insertArmor"/>

<xs:element name="insertArmorResponse" type="tns:insertArmorResponse"/>

<xs:element name="personaggio" type="tns:personaggio"/>

<xs:element name="updateArmor" type="tns:updateArmor"/>

<xs:element name="updateArmorResponse" type="tns:updateArmorResponse"/>

<xs:complexType name="updateArmor">
<xs:sequence>
<xs:element name="arg0" type="tns:armatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="armatura">
<xs:sequence>
<xs:element name="difesa" type="xs:int"/>
<xs:element name="forza" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="livello" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="prezzo" type="xs:int"/>
<xs:element name="vitalità" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateArmorResponse">
<xs:sequence>
<xs:element name="return" type="tns:armatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArmor">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personaggio">
<xs:sequence>
<xs:element name="arma" type="xs:string" minOccurs="0"/>
<xs:element name="armatura" type="xs:string" minOccurs="0"/>
<xs:element name="armorDef" type="xs:int"/>
<xs:element name="armorLv" type="xs:int"/>
<xs:element name="armorStr" type="xs:int"/>
<xs:element name="armorVit" type="xs:int"/>
<xs:element name="base_def" type="xs:int"/>
<xs:element name="base_str" type="xs:int"/>
<xs:element name="base_vit" type="xs:int"/>
<xs:element name="classe" type="xs:string" minOccurs="0"/>
<xs:element name="defense" type="xs:int"/>
<xs:element name="exp" type="xs:int"/>
<xs:element name="gold" type="xs:int"/>
<xs:element name="guild" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="livello" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="remainexp" type="xs:int"/>
<xs:element name="strenght" type="xs:int"/>
<xs:element name="vitality" type="xs:int"/>
<xs:element name="weaponLv" type="xs:int"/>
<xs:element name="weaponStr" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArmorResponse">
<xs:sequence>
<xs:element name="return" type="tns:armatura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteArmor">
<xs:sequence>
<xs:element name="arg0" type="tns:armatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteArmorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertArmor">
<xs:sequence>
<xs:element name="arg0" type="tns:armatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertArmorResponse">
<xs:sequence>
<xs:element name="return" type="tns:armatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArmor_byid">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArmor_byidResponse">
<xs:sequence>
<xs:element name="return" type="tns:armatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>