WarriorsAdventureClient/src/conf/xml-resources/web-service-references/ArmaturaEJB/wsdl/localhost_8080/ArmaturaEJBService/ArmaturaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EJB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EJB/" name="ArmaturaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://EJB/" schemaLocation="http://localhost:8080/ArmaturaEJBService/ArmaturaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteArmor">
<part name="parameters" element="tns:deleteArmor"/>
</message>
<message name="deleteArmorResponse">
<part name="parameters" element="tns:deleteArmorResponse"/>
</message>
<message name="findArmor_byid">
<part name="parameters" element="tns:findArmor_byid"/>
</message>
<message name="findArmor_byidResponse">
<part name="parameters" element="tns:findArmor_byidResponse"/>
</message>
<message name="findArmor">
<part name="parameters" element="tns:findArmor"/>
</message>
<message name="findArmorResponse">
<part name="parameters" element="tns:findArmorResponse"/>
</message>
<message name="insertArmor">
<part name="parameters" element="tns:insertArmor"/>
</message>
<message name="insertArmorResponse">
<part name="parameters" element="tns:insertArmorResponse"/>
</message>
<message name="updateArmor">
<part name="parameters" element="tns:updateArmor"/>
</message>
<message name="updateArmorResponse">
<part name="parameters" element="tns:updateArmorResponse"/>
</message>
<portType name="ArmaturaEJB">
<operation name="deleteArmor">
<input wsam:Action="http://EJB/ArmaturaEJB/deleteArmorRequest" message="tns:deleteArmor"/>
<output wsam:Action="http://EJB/ArmaturaEJB/deleteArmorResponse" message="tns:deleteArmorResponse"/>
</operation>
<operation name="findArmor_byid">
<input wsam:Action="http://EJB/ArmaturaEJB/findArmor_byidRequest" message="tns:findArmor_byid"/>
<output wsam:Action="http://EJB/ArmaturaEJB/findArmor_byidResponse" message="tns:findArmor_byidResponse"/>
</operation>
<operation name="findArmor">
<input wsam:Action="http://EJB/ArmaturaEJB/findArmorRequest" message="tns:findArmor"/>
<output wsam:Action="http://EJB/ArmaturaEJB/findArmorResponse" message="tns:findArmorResponse"/>
</operation>
<operation name="insertArmor">
<input wsam:Action="http://EJB/ArmaturaEJB/insertArmorRequest" message="tns:insertArmor"/>
<output wsam:Action="http://EJB/ArmaturaEJB/insertArmorResponse" message="tns:insertArmorResponse"/>
</operation>
<operation name="updateArmor">
<input wsam:Action="http://EJB/ArmaturaEJB/updateArmorRequest" message="tns:updateArmor"/>
<output wsam:Action="http://EJB/ArmaturaEJB/updateArmorResponse" message="tns:updateArmorResponse"/>
</operation>
</portType>
<binding name="ArmaturaEJBPortBinding" type="tns:ArmaturaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteArmor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findArmor_byid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findArmor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertArmor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateArmor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ArmaturaEJBService">
<port name="ArmaturaEJBPort" binding="tns:ArmaturaEJBPortBinding">
<soap:address location="http://localhost:8080/ArmaturaEJBService/ArmaturaEJB"/>
</port>
</service>
</definitions>