ClientUser/src/META-INF/wsdl/localhost_8080/LoginRegistrationEJBService/LoginRegistrationEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EJB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EJB/" name="LoginRegistrationEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://EJB/" schemaLocation="http://localhost:8080/LoginRegistrationEJBService/LoginRegistrationEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="registration">
<part name="parameters" element="tns:registration"/>
</message>
<message name="registrationResponse">
<part name="parameters" element="tns:registrationResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="findGiocatore">
<part name="parameters" element="tns:findGiocatore"/>
</message>
<message name="findGiocatoreResponse">
<part name="parameters" element="tns:findGiocatoreResponse"/>
</message>
<portType name="LoginRegistrationEJB">
<operation name="registration">
<input wsam:Action="http://EJB/LoginRegistrationEJB/registrationRequest" message="tns:registration"/>
<output wsam:Action="http://EJB/LoginRegistrationEJB/registrationResponse" message="tns:registrationResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://EJB/LoginRegistrationEJB/loginRequest" message="tns:login"/>
<output wsam:Action="http://EJB/LoginRegistrationEJB/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="findGiocatore">
<input wsam:Action="http://EJB/LoginRegistrationEJB/findGiocatoreRequest" message="tns:findGiocatore"/>
<output wsam:Action="http://EJB/LoginRegistrationEJB/findGiocatoreResponse" message="tns:findGiocatoreResponse"/>
</operation>
</portType>
<binding name="LoginRegistrationEJBPortBinding" type="tns:LoginRegistrationEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findGiocatore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginRegistrationEJBService">
<port name="LoginRegistrationEJBPort" binding="tns:LoginRegistrationEJBPortBinding">
<soap:address location="http://localhost:8080/LoginRegistrationEJBService/LoginRegistrationEJB"/>
</port>
</service>
</definitions>