WarriorsAdventureClient/src/conf/xml-resources/web-service-references/PersonaggioEJB/wsdl/localhost_8080/PersonaggioEJBService/PersonaggioEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://EJB/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://EJB/">

<xs:element name="addExp" type="tns:addExp"/>

<xs:element name="addExpResponse" type="tns:addExpResponse"/>

<xs:element name="addGold" type="tns:addGold"/>

<xs:element name="addGoldResponse" type="tns:addGoldResponse"/>

<xs:element name="arma" type="tns:arma"/>

<xs:element name="armatura" type="tns:armatura"/>

<xs:element name="boughtArmor" type="tns:boughtArmor"/>

<xs:element name="boughtArmorResponse" type="tns:boughtArmorResponse"/>

<xs:element name="boughtWeapon" type="tns:boughtWeapon"/>

<xs:element name="boughtWeaponResponse" type="tns:boughtWeaponResponse"/>

<xs:element name="createCharacter" type="tns:createCharacter"/>

<xs:element name="createCharacterResponse" type="tns:createCharacterResponse"/>

<xs:element name="findByID" type="tns:findByID"/>

<xs:element name="findByIDResponse" type="tns:findByIDResponse"/>

<xs:element name="findCharacter" type="tns:findCharacter"/>

<xs:element name="findCharacterResponse" type="tns:findCharacterResponse"/>

<xs:element name="fineDuello" type="tns:fineDuello"/>

<xs:element name="fineDuelloResponse" type="tns:fineDuelloResponse"/>

<xs:element name="giocatore" type="tns:giocatore"/>

<xs:element name="insertPersonaggio" type="tns:insertPersonaggio"/>

<xs:element name="insertPersonaggioResponse" type="tns:insertPersonaggioResponse"/>

<xs:element name="levelUp" type="tns:levelUp"/>

<xs:element name="levelUpResponse" type="tns:levelUpResponse"/>

<xs:element name="listCharacter" type="tns:listCharacter"/>

<xs:element name="listCharacterResponse" type="tns:listCharacterResponse"/>

<xs:element name="personaggio" type="tns:personaggio"/>

<xs:element name="removePersonaggio" type="tns:removePersonaggio"/>

<xs:element name="removePersonaggioResponse" type="tns:removePersonaggioResponse"/>

<xs:element name="subGold" type="tns:subGold"/>

<xs:element name="subGoldResponse" type="tns:subGoldResponse"/>

<xs:element name="updatePersonaggio" type="tns:updatePersonaggio"/>

<xs:element name="updatePersonaggioResponse" type="tns:updatePersonaggioResponse"/>

<xs:complexType name="updatePersonaggio">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personaggio">
<xs:sequence>
<xs:element name="arma" type="xs:string" minOccurs="0"/>
<xs:element name="armatura" type="xs:string" minOccurs="0"/>
<xs:element name="armorDef" type="xs:int"/>
<xs:element name="armorLv" type="xs:int"/>
<xs:element name="armorStr" type="xs:int"/>
<xs:element name="armorVit" type="xs:int"/>
<xs:element name="base_def" type="xs:int"/>
<xs:element name="base_str" type="xs:int"/>
<xs:element name="base_vit" type="xs:int"/>
<xs:element name="classe" type="xs:string" minOccurs="0"/>
<xs:element name="combat_key" type="xs:long"/>
<xs:element name="defense" type="xs:int"/>
<xs:element name="exp" type="xs:int"/>
<xs:element name="gold" type="xs:int"/>
<xs:element name="guild" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="livello" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="remainexp" type="xs:int"/>
<xs:element name="strenght" type="xs:int"/>
<xs:element name="vitality" type="xs:int"/>
<xs:element name="weaponLv" type="xs:int"/>
<xs:element name="weaponStr" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePersonaggioResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fineDuello">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fineDuelloResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findCharacter">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCharacterResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="boughtWeapon">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="tns:arma" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arma">
<xs:sequence>
<xs:element name="forza" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="livello" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="prezzo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="boughtWeaponResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGold">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGoldResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createCharacter">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="tns:giocatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="giocatore">
<xs:sequence>
<xs:element name="ban" type="xs:boolean"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCharacterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePersonaggio">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePersonaggioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addExp">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addExpResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="boughtArmor">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="tns:armatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="armatura">
<xs:sequence>
<xs:element name="difesa" type="xs:int"/>
<xs:element name="forza" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="livello" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="prezzo" type="xs:int"/>
<xs:element name="vitalità" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="boughtArmorResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByID">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="levelUp">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="levelUpResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subGold">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subGoldResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listCharacter">
<xs:sequence>
<xs:element name="arg0" type="tns:giocatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCharacterResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertPersonaggio">
<xs:sequence>
<xs:element name="arg0" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertPersonaggioResponse">
<xs:sequence>
<xs:element name="return" type="tns:personaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>