WarriorsAdventureClient/src/conf/xml-resources/web-service-references/AmministratoreEJB/wsdl/localhost_8080/AmministratoreEJBService/AmministratoreEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://EJB/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://EJB/">

<xs:element name="BannedPlayers" type="tns:BannedPlayers"/>

<xs:element name="BannedPlayersResponse" type="tns:BannedPlayersResponse"/>

<xs:element name="allPlayers" type="tns:allPlayers"/>

<xs:element name="allPlayersResponse" type="tns:allPlayersResponse"/>

<xs:element name="amministratore" type="tns:amministratore"/>

<xs:element name="banPlayer" type="tns:banPlayer"/>

<xs:element name="banPlayerResponse" type="tns:banPlayerResponse"/>

<xs:element name="giocatore" type="tns:giocatore"/>

<xs:element name="insertAmministratore" type="tns:insertAmministratore"/>

<xs:element name="insertAmministratoreResponse" type="tns:insertAmministratoreResponse"/>

<xs:element name="logginAmministratore" type="tns:logginAmministratore"/>

<xs:element name="logginAmministratoreResponse" type="tns:logginAmministratoreResponse"/>

<xs:element name="removeAmministratore" type="tns:removeAmministratore"/>

<xs:element name="removeAmministratoreResponse" type="tns:removeAmministratoreResponse"/>

<xs:element name="unbanPlayer" type="tns:unbanPlayer"/>

<xs:element name="unbanPlayerResponse" type="tns:unbanPlayerResponse"/>

<xs:element name="updateAmministratore" type="tns:updateAmministratore"/>

<xs:element name="updateAmministratoreResponse" type="tns:updateAmministratoreResponse"/>

<xs:complexType name="BannedPlayers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="BannedPlayersResponse">
<xs:sequence>
<xs:element name="return" type="tns:giocatore" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="giocatore">
<xs:sequence>
<xs:element name="ban" type="xs:boolean"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logginAmministratore">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logginAmministratoreResponse">
<xs:sequence>
<xs:element name="return" type="tns:amministratore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="amministratore">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unbanPlayer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unbanPlayerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="allPlayers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="allPlayersResponse">
<xs:sequence>
<xs:element name="return" type="tns:giocatore" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAmministratore">
<xs:sequence>
<xs:element name="arg0" type="tns:amministratore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAmministratoreResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="banPlayer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="banPlayerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAmministratore">
<xs:sequence>
<xs:element name="arg0" type="tns:amministratore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAmministratoreResponse">
<xs:sequence>
<xs:element name="return" type="tns:amministratore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAmministratore">
<xs:sequence>
<xs:element name="arg0" type="tns:amministratore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAmministratoreResponse">
<xs:sequence>
<xs:element name="return" type="tns:amministratore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>