WarriorsAdventureClient/src/conf/xml-resources/web-service-references/CharacterEJB/wsdl/localhost_8080/CharacterEJBService/CharacterEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EJB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EJB/" name="CharacterEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://EJB/" schemaLocation="http://localhost:8080/CharacterEJBService/CharacterEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="addExp">
<part name="parameters" element="tns:addExp"/>
</message>
<message name="addExpResponse">
<part name="parameters" element="tns:addExpResponse"/>
</message>
<message name="subGold">
<part name="parameters" element="tns:subGold"/>
</message>
<message name="subGoldResponse">
<part name="parameters" element="tns:subGoldResponse"/>
</message>
<message name="addGold">
<part name="parameters" element="tns:addGold"/>
</message>
<message name="addGoldResponse">
<part name="parameters" element="tns:addGoldResponse"/>
</message>
<message name="createCharacter">
<part name="parameters" element="tns:createCharacter"/>
</message>
<message name="createCharacterResponse">
<part name="parameters" element="tns:createCharacterResponse"/>
</message>
<message name="listCharacter">
<part name="parameters" element="tns:listCharacter"/>
</message>
<message name="listCharacterResponse">
<part name="parameters" element="tns:listCharacterResponse"/>
</message>
<portType name="CharacterEJB">
<operation name="addExp">
<input wsam:Action="http://EJB/CharacterEJB/addExpRequest" message="tns:addExp"/>
<output wsam:Action="http://EJB/CharacterEJB/addExpResponse" message="tns:addExpResponse"/>
</operation>
<operation name="subGold">
<input wsam:Action="http://EJB/CharacterEJB/subGoldRequest" message="tns:subGold"/>
<output wsam:Action="http://EJB/CharacterEJB/subGoldResponse" message="tns:subGoldResponse"/>
</operation>
<operation name="addGold">
<input wsam:Action="http://EJB/CharacterEJB/addGoldRequest" message="tns:addGold"/>
<output wsam:Action="http://EJB/CharacterEJB/addGoldResponse" message="tns:addGoldResponse"/>
</operation>
<operation name="createCharacter">
<input wsam:Action="http://EJB/CharacterEJB/createCharacterRequest" message="tns:createCharacter"/>
<output wsam:Action="http://EJB/CharacterEJB/createCharacterResponse" message="tns:createCharacterResponse"/>
</operation>
<operation name="listCharacter">
<input wsam:Action="http://EJB/CharacterEJB/listCharacterRequest" message="tns:listCharacter"/>
<output wsam:Action="http://EJB/CharacterEJB/listCharacterResponse" message="tns:listCharacterResponse"/>
</operation>
</portType>
<binding name="CharacterEJBPortBinding" type="tns:CharacterEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addExp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subGold">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addGold">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCharacter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCharacter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CharacterEJBService">
<port name="CharacterEJBPort" binding="tns:CharacterEJBPortBinding">
<soap:address location="http://localhost:8080/CharacterEJBService/CharacterEJB"/>
</port>
</service>
</definitions>